/* Auth.module.scss */

@font-face {
  font-family: 'samsung-bold';
  src: url('/fonts/SamsungSharpSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'samsung-medium';
  src: url('/fonts/SamsungSharpSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'samsung';
  src: url('/fonts/SamsungSharpSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &___title {
    font-family: 'samsung-bold';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__field {
    margin-bottom: 15px;

    &__register {
      margin-top: 20px;
      text-align: center;
    }
  }

  &__label {
    font-family: 'samsung-medium';
    display: block;
    font-weight: bold;
  }
  
  &__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  &__error {
    font-family: 'samsung-medium';
    color: red;
    margin-top: 5px;
  }
  
  &__button {
    font-family: 'samsung';
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.8s ease;
  }
  
  &__button:hover {
    background-color: #0056b3;
  }
  
  &__button:disabled {
    background-color: #d1d1d1;
    cursor: not-allowed;
  }

  &__link {
    font-family: 'samsung';
    display: inline-block;
    padding: 10px 20px;
    background-color: #42b72a;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.8s ease;
  }

  &__link:hover {
    background-color: #2980b9;
  }

  &__link:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }


}
