.field {
  margin-bottom: 15px;

  &__register {
    margin-top: 20px;
    text-align: center;
  }
}

.label {
  font-family: 'samsung-medium';
  display: block;
  font-weight: bold;
}

.blank {
  position:relative;
  height: 10px;
}

.input {
  font-family: 'samsung';
  width: 75px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ececec;
  transition: width 0.8s ease;
  transform-origin: left;

  &__active {
    width: 300px;
    transition: width 0.8s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &__animation {
    position:relative;
    right: 17px;
    top:10px;
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
  }
  
  &__error {
    font-family: 'samsung-medium';
    color: red;
    margin-top: 5px;
  }
}
